@import "tailwindcss";

@theme {
    --color-background: #fcfaf3;
    --color-foreground: #191919;
    --color-bg-fg-blend: #e7e6df;
    --color-success: #5ea500;
    --color-error: #c10007;
    --color-accent-one: #4d4069;
    --color-accent-two: #508991;
    --color-accent-three: #9ca3db;

    --max-width: 32rem;
}

html {
    background: #e5e2d8; /* dev aid: makes the 24rem column visible on wide screens */
}

body {
    max-width: var(--max-width);
    margin: 0 auto;
    min-height: 95dvh;
    padding-bottom: 4.5rem;
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
}

.page-container {
    padding: 0.5rem;
}

.page-header {
    font-size: 1.25rem;
    font-weight: 600;
}
